body{
    color: white;
    background-image: linear-gradient(to bottom, #141e30, #243b55);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.title{
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: white;

}

.formbody{
    width: 40%;
    min-height: auto;
    margin: auto;
    padding: 20px;
    border: 2px solid #000;
    background-image: linear-gradient(to right, #d3cce3, #e9e4f0); 
    background-repeat: no-repeat;
}

@media (max-width: 768px){
    .formbody{
        width: 80%;
        min-height: auto;
    }
    
}
